:root{
    --primary-clr: #2F80ED;
    --secondary-clr: #ecf8ff;   
    --dark-clr: #000000;
    --gray-dark-clr:#595959;
    --gray-light-clr: #8393A9;
    --light-clr:#ffffff;
    --accent-clr: #ffeed8;
    --input-clr: #FAFAFA;
}

body{
    font-family: ABeeZee, sans-serif;

}
nav{
    background-color: var(--light-clr);
}

.nav-container{
    display: flex;
    justify-content: space-between !important;
}

nav ul{
    font-size: 1em;
}
nav ul li{
    margin-inline: 10px;
}

.btn-secondary{
    font-size: 1em;
    color: var(--primary-clr);
    padding: 5px 20px;
    background-color: var(--light-clr);
    border: 1px solid   var(--primary-clr);
    border-radius: 5px;
}
.new-batch{
    background-color: var(--primary-clr);
    font-size: 0.875rem;
    color: var(--light-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    top: 65px;
}
.hero-section{
    margin-top: 50px;
    height: 100vh;  
}
.hero-col-1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    row-gap: 10px;
    flex:1.3;

}
.hero-col-1 h1{
    font-size: 3.125rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.75px;
}

.hero-col-1-span-1{
    color: var(--primary-clr);
    -webkit-text-stroke: 1px black;
}
.hero-col-1-span-2{
    font-weight: 500;
    color: var(--dark-clr);
    -webkit-text-stroke: 1px black;
}
.hero-desc{
    width: 70%;
    font-size: 1.125rem;

}
.made-by{
    background-color: var(--light-clr);
    padding: 10px 15px;
    border-radius: 20px;
}
.made-by p{
    font-size: 0.875rem;
    margin: 0;
}
.perks-card-container{
    background-color: var(--light-clr);
    display: flex;
    column-gap:25px;
    border-radius: 10px;
    border: 1px solid --gray-light-clr;
    z-index: 2;

}
.perk-card{
    display: flex ;
    column-gap:10px;
    padding-block: 5px;
    margin-block: 10px;
}
.perk-card:first-child{
    margin-left: 20px;
}
.perk-card:last-child{
    margin-right: 20px;
}
.perk-card p{
    font-size: 0.75rem;
    margin: 0;
}
.perk-card h4{
    font-size: 1.25rem ;
    margin: 0;
    font-style: italic;
}
.perk-card img{
    width: 2.25rem;
    height: 2.25rem;
}
.hero-arrow{
    transform: translate(590px, -235px);
    z-index: 1;
}
.hero-col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
    flex:1;

}
.card{
    width: 450px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 20px;
}
.card h2{
    font-size: 2.25rem;
    font-style: italic;
}
.hero-section p{
    color: var(--gray-dark-clr);
}
.apply-form{
    width: 90%;
}
.apply-form input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.input-div{
    background-color: var(--input-clr);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    padding: 14px 6px 14px 10px;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}
.btn-apply{
    width: 100%;
    background-color: var(--primary-clr);
    color: var(--light-clr);
    font-style: italic;
    font-size: 1.125rem;
    padding-block: 15px ;
    border-radius: 8px;
    border: none;
}
.courses{
    background-color: var(--secondary-clr);
    padding-block:50px ;

}
.course-container {
    width: 70%;
    margin:100px  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.course-text{
    color: var(--primary-clr);
}
.course-text h3{
    font-style: italic;
    font-size: 1.25rem;
}
.course-text h2{
    font-size: 2.25rem;
}
.course-card-container{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.course-card{
    background-color: var(--light-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    border-radius: 10px;
    padding: 10px;
}
.beginner{
    position: relative;
}
.ideal{
    position: absolute;
    top:-20px;
    background-color: var(--primary-clr);
    color: var(--light-clr);
    border-radius: 7px;
border: 2px solid #2F80ED;
}
.ideal p{
    margin: 0;
    padding: 6px 15px;
    font-size: 0.875rem;
}
.course-heading{
    text-align: center;
    margin-top: 30px;
}
.course-heading h3{
    font-style: italic;
    font-size: 1.625rem;
    margin-bottom: 20px;

}
.beginner{
    border-radius: 9px;
border: 2px solid var(--primary-clr);
background: #FFF;
}
.beginner span{
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    padding: 6px 15px;
    border-radius: 7px;
}

.intermediate span{
    background-color: var(--accent-clr);
    color: #965400;
    padding: 6px 15px;
    border-radius: 7px;
}
table{
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    width: 90% !important;
    margin: auto;

}
td:nth-child(even){
    font-style: italic;
}
td{
   line-height: 2em;;
    width: 50%;
    align-self: center;
}
tr:last-child{
    border: 1px solid transparent !important;

}
.buttons{
    margin-top: 30px;
    border: none;
}
.buttons button{
    background-color: var(--primary-clr);
    color: var(--light-clr);
    padding-block: 14px;
    width: 45%;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}
.course-card{
    margin-top: 100px;
}